#aside::before {
  content: "";
  position: absolute;
  inset: 0px;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: linear-gradient(225deg, transparent 50%, green);
  opacity: 0;
  transition: opacity 500ms;
}

#aside:hover::before {
  opacity: 10%;
  transition: opacity 500ms;
}

#aside-text {
  opacity: 0;
  /* display: none; */
  transition: opacity 50ms;
}

#aside:hover #aside-text {
  opacity: 100%;
  /* display: block; */
  transition: opacity 350ms;
}
