@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@font-face {
  font-family: "NunitoSans";
  src: url("fonts/NunitoSans_10pt-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/NunitoSans_10pt-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "NunitoSans";
  src: url("fonts/NunitoSans_10pt-Black.ttf");
  font-weight: 900;
}

@layer base {
  :root {
    --background: 120deg 20% 4%;
    --card: 120deg 20% 8%;
    --disabled: 100deg 30% 20%;
    --border: 120deg 9% 17%;
    --border-active: 120deg 9% 47%;
    --primary: 120deg 30% 80%;
    --primary-fg: 120deg 30% 60%;
    --destructive: 5deg 60% 70%;
    --destructive-fg: 5deg 80% 30%;
    --accent: 120deg 60% 50%;
  }
}
