@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

@layer base {
  :root {
    --background: 120deg 20% 4%;
    --card: 120deg 20% 8%;
    --disabled: 120deg 30% 20%;
    --border: 120deg 9% 17%;
    --border-active: 120deg 9% 47%;
    --primary: 120deg 30% 80%;
    --primary-fg: 120deg 30% 60%;
    --destructive: 5deg 80% 60%;
    --destructive-fg: 5deg 80% 50%;
    --accent: 120deg 60% 50%;
  }
}
